<div class="fundo">
  <div>{{erro_api}}</div>
  <div style="text-align: center;"><img src="assets/imgs/logo_empresa.png" /></div>
  <h1 style="text-align: center;">CORBAN ONE</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group">
      <label for="CPF" class="label">CPF</label>
      <input type="tel" name="cpf" ngModel required #cpf="ngModel" nbInput fullWidth id="cpf" placeholder="CPF">
      <span class="text-danger"> {{userValid.cpf}}</span>
    </div>
    <div class="form-group">
      <label for="senha" class="label">Senha</label>
      <input type="password" name="senha" ngModel required #senha="ngModel" nbInput fullWidth id="senha"
        placeholder="Senha">
      <span class="text-danger"> {{userValid.senha}}</span>
    </div>
    <div style="text-align: center;">
      <button type="submit" nbButton status="info">Entrar</button>
    </div>

  </form>
</div>