<div class="row">
    <div class="col-md-12 col-lg-20 col-xxxl-10">
        <nb-card>
            <nb-card-header>Esteira de produção</nb-card-header>
        </nb-card>
        <table class="table">
                <tr>
                    <th scope="col">
                        <nb-alert class="card" status="primary">Domicílio</nb-alert>
                    </th>
                    <th scope="col">
                        <nb-alert class="card" status="">Averbadas</nb-alert>
                    </th>
                    <th scope="col">
                        <nb-alert class="card" status="primary">Inconsistência</nb-alert>
                    </th>
                    <th scope="col">
                        <nb-alert class="card" status="primary">Pendente/Envio</nb-alert>
                    </th>
                    <th scope="col">
                        <nb-alert class="card" status="primary">Restrição</nb-alert>
                    </th>
                    <th scope="col">
                        <nb-alert class="card" status="primary">Banco/Correspondente</nb-alert>
                    </th>
                </tr>
        </table>
    </div>
</div>