button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .maxContent {
    max-height: 500px;
    overflow: auto;
  }  

  @each $status in nb-get-statuses() {
    .hover {
      $left-hover-color: nb-theme(button-hero-#{$status}-hover-left-background-color);
      $right-hover-color: nb-theme(button-hero-#{$status}-hover-right-background-color);
      background-image: linear-gradient(to right, $left-hover-color, $right-hover-color);
    }
  }

  .tabela {
    width: 100%;
  
    tr {
      border-bottom: 1px solid #ccc;
  
      th,
      td {
        padding: 5px;
      }
    }
  
    .active {
      background: #007bff94;
    }  
  }

  .size-fonte{
    font-size: 11px;
    text-align: left;    
  }

  .size-fonte-right{
    font-size: 11px;
    text-align: right;    
  }

  .form_cad form{
    margin: 0!important;
    padding: 0!important;}
  .form_cad h3{
      margin: 0!important;
      padding: 0!important;}
  .form_cad row {
      margin: 0!important;
      padding: 0!important;}
  .form_cad span {
    margin: 0!important;
    padding: 0!important;}

  .card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }

  .fonte-card{
    color: #fff;
    font-size: 12px;
    text-align: left;
  }

  .fonte-card-num{
    color: #fff;
    font-size: 9px;
    text-align: right;
  }
  
  .label-blue {
    background-color: #1c84c6;
    color: #fff;
    font-size: 14px;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }
  
  .nb-column-name {
    width: 100%;
  }

  .bg-link {
    
    font-style: nb-theme(link-text-color);
  }
  
  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }
  
  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }