<nb-card>
  <nb-card-header>
    Gráficos de Produção
    <input type="month" nbInput class="month" [(ngModel)]="mesAno">
  </nb-card-header>
  <nb-card-body>
    <app-header></app-header>
    <!--<div class="row">
      <div class="graph">
        <app-loja></app-loja>
      </div>

      <div class="graph">
        <app-operacao></app-operacao>
      </div>
    </div>

    <div class="row">
      <div class="graph">
        <app-produto></app-produto>
      </div>

      <div class="graph">
        <app-instituicao></app-instituicao>
      </div>
    </div>

    <div class="row">
      <div class="graph">
        <app-consultor></app-consultor>
      </div>

      <div class="graph">
        <app-canal-suporte></app-canal-suporte>
      </div>
    </div>

    <div class="row">
      <div class="graph_line">
        <app-status></app-status>
      </div>
    </div>-->
  </nb-card-body>
</nb-card>
