<div class="row">
    <div class="col-md-12 col-lg-20 col-xxxl-10">
        <nb-card>
            <nb-card-header>
                NOME DO CLIENTE: {{ nome_c }}<br>
            </nb-card-header>
            <nb-card-body>
                <table class="table" equalColumnsWidth>
                    <thead>
                        <tr>
                            <th class="textRight">Data</th>
                            <th class="textRight">Proposta</th>
                            <th class="textRight">Status</th>
                            <th class="textRight">Órgão</th>
                            <th class="textRight">Tipo Operação</th>
                            <th class="textRight">Loja</th>
                            <th class="textRight">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of drillDown">
                            <td class="size-fonte">
                                {{ i.data_entrada | moment: 'DD/MM/YYYY' }}<br>
                                {{ i.data_status  | moment: 'DD/MM/YYYY' }}
                            </td>
                            <td class="size-fonte">{{ i.proposta }}</td>
                            <td class="size-fonte">{{ i.status_agrupado }}</td>
                            <td class="size-fonte">
                                {{ i.instituicao }}<br>
                                {{ i.convenio }}
                            </td>
                            <td class="size-fonte">
                                {{ i.tipo_operacao }}<br>
                                {{ i.produto_corban }}
                            </td>
                            <td class="size-fonte">{{ i.nome_fantasia }}</td>
                            <td class="size-fonte">
                                {{ i.valor_contrato | number:'.2-2':'es' }}<br>
                                {{ i.base_calculo | number:'.2-2':'es' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>