<nb-card>
    <nb-card-header>Pendências de Físico</nb-card-header>
</nb-card>
<nb-card accent="info" [nbSpinner]="length >= 0" nbSpinnerStatus="success">
  <div>
    <nb-icon *ngIf="revealed" class="toggle-icon" icon="chevron-down-outline" pack="eva"
      (click)="toggleView('Option 1')"> </nb-icon>
    <nb-card size="small">
      <nb-card-body>
        <div class="row">
          <div class="col-12">

            <nb-select style="width:19.8%" placeholder="Regional">
              <nb-option value="1">Teste</nb-option>
            </nb-select>

            <nb-select style="width:19.7%" placeholder="Comercial">
              <nb-option value="default">Teste</nb-option>
            </nb-select>

            <nb-select style="width:19.7%" placeholder="Matriz">
              <nb-option value="1">Teste</nb-option>
            </nb-select>

            <nb-select style="width:19.7%" placeholder="Loja">
              <nb-option value="1">Teste</nb-option>
            </nb-select>

            <nb-select style="width:19.7%" placeholder="Funcionário">
              <nb-option value="1">Teste</nb-option>
            </nb-select>

            <table class="tabela">
              <thead>
                <tr>

                  <th style="width: 8%" class="textCenter">Proposta</th>
                  <th style="width: 8%" class="textCenter">Nome Cliente</th>
                  <th style="width: 8%" class="textCenter">Nome Produto CORBAN</th>
                  <th style="width: 8%" class="textCenter">Data Entrada Operação</th>
                  <th style="width: 8%" class="textCenter">Tipo Operação</th>
                  <th style="width: 8%" class="textCenter">Nome Convênio</th>
                  <th style="width: 8%" class="textCenter">Nome Instituição</th>
                  <th style="width: 8%" class="textCenter">Código Agente</th>
                  <th style="width: 8%" class="textCenter">Data Status</th>
                  <th style="width: 8%" class="textCenter">Status Físico Instituição</th>
                  <th style="width: 8%" class="textCenter">Valor Contrato</th>
                  <th style="width: 8%" class="textCenter">Base Cálculo</th>

                </tr>
              </thead>

            </table>

            <div class="maxContent">
              <table class="tabela">
                <tbody>

                  <tr *ngFor="let i of findPendencia">
                    <td style="width: 8%" class="textCenter">{{i.proposta}}</td>
                    <td style="width: 8%" class="textCenter">{{i.nome_cliente}}</td>
                    <td style="width: 8%" class="textCenter">{{i.nome_produto_corban}}</td>
                    <td style="width: 8%" class="textCenter">{{i.data_entrada_operacao}}</td>
                    <td style="width: 8%" class="textCenter">{{i.tipo_operacao}}</td>
                    <td style="width: 8%" class="textCenter">{{i.nome_convenio}}</td>
                    <td style="width: 8%" class="textCenter">{{i.nome_instituicao}}</td>
                    <td style="width: 8%" class="textCenter">{{i.codigo_agente}}</td>
                    <td style="width: 8%" class="textCenter">{{i.data_status}}</td>
                    <td style="width: 8%" class="textCenter">{{i.status_fisico_instituicao}}</td>
                    <td style="width: 8%" class="textCenter">{{i.valor_contrato | moeda}}</td>
                    <td style="width: 8%" class="textCenter">{{i.base_calculo | moeda}}</td>

                </tbody>
              </table>