.list-card {
  nb-card-header {
    border-bottom: none;
  }

  nb-card-body {
    padding: 0;
  }
}

.icons-right {
  float: right;
}

.buttons-row {
  margin-left: 0.1rem;
}

.size-modal {
  /* topo | horizontal | inferior */
  margin: 1em auto 2em;
  /* topo | direita | inferior | esquerda */
  //margin: 2px 1em 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
  min-width: 90%;
  min-height: 90%;
  overflow: auto;
}

.font-size-list {
  font-size: 13px;
}

.container-image {
  max-width: 100px;
  max-height: 100px;
  width: 40px;
  height: 40px;
}

.espacamento {
  margin-left: 0.4rem;
}
