<div class="infinite-cards row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Comissões Pagas
            </nb-card-header>
            <nb-card-body>
                <nb-tabset fullWidth>
                    <nb-tab tabTitle="Users">
                        <p>List of <strong>users</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Orders">
                        <p>List of <strong>orders</strong>.</p>
                    </nb-tab>
                    <nb-tab tabTitle="Mês">
                        <p>List of <strong>mes</strong>.</p>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>
    </div>
</div>