<div class="infinite-cards row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="campanhasPerfil.length < 1" nbSpinnerStatus="success">

      <nb-card-header>
        Dashboard - Campanhas

        <nb-icon status="info" *ngIf="revealed.campanhas" class="toggle-icon" icon="chevron-up-outline" pack="eva"
          (click)="toggleView('campanhas')"></nb-icon>
        <nb-icon status="info" *ngIf="!revealed.campanhas" class="toggle-icon" icon="hard-drive-outline" pack="eva"
          nbTooltip="Listagem de Campanhas" (click)="toggleView('campanhas')"> </nb-icon>
      </nb-card-header>
      <div *ngIf="revealed.campanhas">
        <table class="tabela">

          <nb-list>
            <nb-list-item *ngFor="let i of campanhasPerfil" (click)="atualizarFiltro(i)">

              <div>
                <span nbTooltip="Nome da Campanha"> {{i.nome_campanha}} </span>
                <span nbTooltip="Código da Campanha">[{{i.codigo_campanha}}] <br> </span>
                <span nbTooltip="Data Inicial da Campanha"> De {{i.data_inicio_campanha | moment: 'DD/MM/YYYY'}}</span>
                <span nbTooltip="Data Final da Campanha"> Até {{i.data_fim_campanha | moment: 'DD/MM/YYYY'}}</span>
              </div>
            </nb-list-item>
          </nb-list>
        </table>
      </div>

      <div class="col-md-12 col-sm-12 col-lg-12 row justify-content-between">
        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="row justify-content-center">
              <div class="container">
                <table class="tabela2">
                  <tr>
                    <td class="mes-setado2">{{ hoje | date:'MMMM' | uppercase }}</td>
                  </tr>
                  <tr>
                    <td class="ano-setado2">{{ hoje | date:'yyyy' }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="info2"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number}}</div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number}}</div>
            </div>
            <span
              nbTooltip="Valor de porcentagem: {{contratosPagosSinteticos?.relacao_valor_digitado_pago.toFixed(2)}}%">
              <nb-progress-bar size="tiny" status="info"
                value={{contratosPagosSinteticos?.relacao_valor_digitado_pago.toFixed(2)}} [displayValue]="true">
              </nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>

        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="row justify-content-end">
              <div class="container">
                <table class="tabela">
                  <tr>
                    <td rowspan="2" class="dia-setado">{{ controleDiario?.dia | date:'dd' }}</td>
                    <td class="mes-setado">{{ controleDiario?.mes | date:'MMM' | uppercase }}</td>
                  </tr>
                  <tr>
                    <td class="ano-setado">{{ controleDiario?.ano | date:'yyyy' }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="info"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number:'.2-2':'pt'}}
              </div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number:'.2-2':'pt'}}</div>
            </div>
            <span nbTooltip="Valor de porcentagem: {{valor}}%">
              <nb-progress-bar size="tiny" status="info" [value]="valor" [displayValue]="true"></nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>

        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="row justify-content-end">
              <div class="container">
                <table class="tabela">
                  <tr>
                    <td rowspan="2" class="dia-setado">{{ controleDiario?.dia | date:'dd' }}</td>
                    <td class="mes-setado">{{ controleDiario?.mes | date:'MMM' | uppercase }}</td>
                  </tr>
                  <tr>
                    <td class="ano-setado">{{ controleDiario?.ano | date:'yyyy' }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="info"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number:'.2-2':'pt'}}</div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number:'.2-2':'pt'}}</div>
            </div>
            <span nbTooltip="Valor de porcentagem: {{valor}}%">
              <nb-progress-bar size="tiny" status="info" [value]="valor" [displayValue]="true"></nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>

        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="row justify-content-center">
              <div class="container">
                <table class="tabela2">
                  <tr>
                    <td class="mes-setado2">{{ hoje | date:'MMMM' | uppercase }}</td>
                  </tr>
                  <tr>
                    <td class="ano-setado2">{{ hoje | date:'yyyy' }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="info2"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number:'.2-2':'pt'}}</div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number:'.2-2':'pt'}}</div>
            </div>
            <span nbTooltip="Valor de porcentagem: {{valor}}%">
              <nb-progress-bar size="tiny" status="info" [value]="valor" [displayValue]="true">
              </nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-md-12 col-sm-12 col-lg-12 row justify-content-between">
        <nb-card accent="danger" class="cardSnd" *ngFor="let i of dadosProdutoCorbanCampanha.produto_corban_campanha">
          <nb-card-body class="cardBody2">
            <div class="produtoCorban">{{i.nome_produto_corban}}</div>
            <div class="row justify-content-center">
              <div class="container">
              </div>
            </div>
            <table class="tabelaCircle">
              <tr>
                <td rowspan="4">
                  <span nbTooltip="Valor de porcentagem: {{i.percentual_atingido_produto_corban}}%">
                    <round-progress current="{{i.percentual_atingido_produto_corban}}" [animation]="'easeInOutQuart'"
                      [max]="100.00" background="white" [clockwise]="true" [semicircle]="false" color="#C0C0C0"
                      [radius]="40" [stroke]="10" [rounded]="false">
                    </round-progress>
                  </span>
                </td>
                <td class="txtTableCircle">Meta</td>
              </tr>
              <tr>
                <td> {{i.meta_producao_produto_corban | number}} </td>
              </tr>
              <tr>
                <td class="txtTableCircle">Realizado</td>
              </tr>
              <tr>
                <td> {{i.valor_atingido_meta_producao_produto_corban | number}}</td>
              </tr>
            </table>
            <div class="porcentagem">{{i.percentual_atingido_produto_corban || 0}}%</div>
          </nb-card-body>
        </nb-card>

      </div>
    </nb-card>
  </div>
</div>
