<div class="infinite-cards row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="campanhasPerfil.length < 1" nbSpinnerStatus="success">
      <nb-card-header>
        Dashboard - Campanhas
        <nb-icon status="info" *ngIf="revealed.campanhas" class="toggle-icon" icon="chevron-up-outline" pack="eva"
          (click)="toggleView('campanhas')"></nb-icon>
        <nb-icon status="info" *ngIf="!revealed.campanhas" class="toggle-icon" icon="hard-drive-outline" pack="eva"
          nbTooltip="Listagem de Campanhas" (click)="toggleView('campanhas')"> </nb-icon>
      </nb-card-header>
      <div *ngIf="revealed.campanhas">
        <table class="tabela">
          <nb-list class="listagem">
            <nb-list-item class="txtList" *ngFor="let i of campanhasPerfil" (click)="atualizarFiltro(i)">
              <div class="containerList">
                <span nbTooltip="Nome da Campanha"> {{i.nome_campanha}} </span>
                <span nbTooltip="Código da Campanha"> - [{{i.codigo_campanha}}] <br> </span>
                <span nbTooltip="Data Inicial da Campanha"> De {{i.data_inicio_campanha | moment: 'DD/MM/YYYY'}}</span>
                <span nbTooltip="Data Final da Campanha"> Até {{i.data_fim_campanha | moment: 'DD/MM/YYYY'}}</span>
              </div>
            </nb-list-item>
          </nb-list>
        </table>
      </div>

      <div class="col-md-12 col-sm-12 col-lg-12 row justify-content-between">
        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="container">
              <table class="tabela2">
                <tr>
                  <td class="mes-setado2">{{ hoje | moment: 'YYYY/MM/DD'}}</td>
                </tr>
                <tr>
                  <td class="ano-setado2">{{ hoje | date:'yyyy' }}</td>
                </tr>
              </table>
            </div>
            <div class="info2"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number}}</div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number}}</div>
            </div>
            <span
              nbTooltip="Valor de porcentagem: {{contratosPagosSinteticos?.relacao_valor_digitado_pago.toFixed(2)}}%">
              <nb-progress-bar size="tiny" status="info"
                value={{contratosPagosSinteticos?.relacao_valor_digitado_pago.toFixed(2)}} [displayValue]="true">
              </nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>

        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="container">
              <table class="tabela">
                <tr>
                  <td rowspan="2" class="dia-setado">{{ datas[0].dia}}</td>
                  <td class="mes-setado">{{ datas[0].mes}}</td>
                </tr>
                <tr>
                  <td class="ano-setado">{{ datas[0].ano}}</td>
                </tr>
              </table>
            </div>
            <div class="info"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number:'.2-2':'pt'}}
              </div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number:'.2-2':'pt'}}</div>
            </div>
            <span nbTooltip="Valor de porcentagem: {{valor}}%">
              <nb-progress-bar size="tiny" status="info" [value]="valor" [displayValue]="true"></nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>

        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="container">
              <table class="tabela">
                <tr>
                  <td rowspan="2" class="dia-setado">{{datas[2].dia}}</td>
                  <td class="mes-setado">{{ datas[1].mes | date: 'MMM' | uppercase}}</td>
                </tr>
                <tr>
                  <td class="ano-setado">{{ datas[1].ano}}</td>
                </tr>
              </table>
            </div>
            <div class="info"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number:'.2-2':'pt'}}</div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number:'.2-2':'pt'}}</div>
            </div>
            <span nbTooltip="Valor de porcentagem: {{valor}}%">
              <nb-progress-bar size="tiny" status="info" [value]="valor" [displayValue]="true"></nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>

        <nb-card accent="info" class="cardFirst">
          <nb-card-body class="cardBody">
            <div class="container">
              <table class="tabela2">
                <tr>
                  <td class="mes-setado2">{{ hoje | date:'MMMM' | uppercase }}</td>
                </tr>
                <tr>
                  <td class="ano-setado2">{{ hoje | date:'yyyy' }}</td>
                </tr>
              </table>
            </div>
            <div class="info2"></div>
            <div>
              <div class="simple">Digitado</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_digitado | number:'.2-2':'pt'}}</div>
              <div class="simple">Pago</div>
              <div class="values">{{contratosPagosSinteticos?.valor_elegivel_total_pago | number:'.2-2':'pt'}}</div>
            </div>
            <span nbTooltip="Valor de porcentagem: {{valor}}%">
              <nb-progress-bar size="tiny" status="info" [value]="valor" [displayValue]="true">
              </nb-progress-bar>
            </span>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-md-12 col-sm-12 col-lg-12 row justify-content-between">
        <nb-card accent="info" class="cardTrd">
          <nb-card-body class="cardBody">
            <div class="container">

              <table class="table3">
                <tr>
                  <td class="txtTable3" style="width: 16.66%;">INÍCIO</td>
                  <div class="vl"></div>
                  <td class="txtTable3" style="width: 16.66%;">FIM</td>
                  <div class="vl"></div>
                  <td class="txtTable3" style="width: 16.66%;">DIAS ÚTEIS DO PERÍODO</td>
                  <div class="vl"></div>
                  <td class="txtTable3" style="width: 16.66%;">DIAS ÚTEIS RESTANTES</td>
                  <div class="vl"></div>
                  <td class="txtTable3" style="width: 16.66%;">TICKET MÉDIO</td>
                  <div class="vl"></div>
                  <td class="txtTable3" style="width: 16.66%;">HC</td>
                </tr>
                <tr>
                  <td style="width: 16.66%;">
                    <h6>{{campanhaSelecionada?.data_inicio_campanha | moment: 'DD/MM/YYYY'}}</h6>
                  </td>
                  <div class="vl"></div>
                  <td style="width: 16.66%;">
                    <h6>{{campanhaSelecionada?.data_fim_campanha | moment: 'DD/MM/YYYY'}}</h6>
                  </td>
                  <div class="vl"></div>
                  <td style="width: 16.66%;">
                    <h6>{{campanhaDias}}</h6>
                  </td>
                  <div class="vl"></div>
                  <td style="width: 16.66%;">
                    <h6>{{campanhaPendencias}}</h6>
                  </td>
                  <div class="vl"></div>
                  <td style="width: 16.66%;">
                    <h6>{{dadosProdutoCorbanCampanha?.ticket_medio_campanha.toFixed(2)}}</h6>
                  </td>
                  <div class="vl"></div>
                  <td style="width: 16.66%;">
                    <h6>{{dadosProdutoCorbanCampanha?.total_hc_participantes}}</h6>
                  </td>
                </tr>
              </table>

            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-md-12 col-sm-12 col-lg-12 row justify-content-between">
        <nb-card accent="danger" class="cardSnd" *ngFor="let i of dadosProdutoCorbanCampanha.produto_corban_campanha">
          <nb-card-body class="cardBody2">
            <div class="produtoCorban">{{i.nome_produto_corban}}</div>
            <div class="container">
            </div>
            <table class="tabelaCircle">
              <tr>
                <td rowspan="4">
                  <span nbTooltip="Valor de porcentagem: {{i.percentual_atingido_produto_corban}}%">
                    <round-progress current="{{i.percentual_atingido_produto_corban}}" [animation]="'easeInOutQuart'"
                      [max]="100.00" background="white" [clockwise]="true" [semicircle]="false" color="#C0C0C0"
                      [radius]="40" [stroke]="10" [rounded]="false">
                    </round-progress>
                  </span>
                </td>
                <td class="txtTableCircle">Meta</td>
              </tr>
              <tr>
                <td> {{i.meta_producao_produto_corban | number}} </td>
              </tr>
              <tr>
                <td class="txtTableCircle">Realizado</td>
              </tr>
              <tr>
                <td> {{i.valor_atingido_meta_producao_produto_corban | number}}</td>
              </tr>
            </table>
            <div class="porcentagem">{{i.percentual_atingido_produto_corban || 0}}%</div>
          </nb-card-body>
        </nb-card>

        <div class="col-md-12 col-sm-12 col-lg-12 row justify-content-between">
          <div class="container">
            <nb-card accent="danger" class="cardGraph">
              <nb-card-header style="text-align: center;">Gráfico
                <nb-icon *ngIf="revealed.chart" class="toggle-icon" icon="chevron-up-outline" pack="eva"
                  (click)="toggleView('chart')"></nb-icon>
                <nb-icon *ngIf="!revealed.chart" class="toggle-icon" icon="chevron-down-outline" pack="eva"
                  (click)="toggleView('chart')"> </nb-icon>
              </nb-card-header>
              <nb-card-body *ngIf="revealed.chart">
                <div echarts [options]="chartOptions" class="echart"></div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

      </div>
    </nb-card>
  </div>
</div>
