<div class="infinite-cards row">
  <div class="col-md-12">
    <nb-card *ngIf="!novaTela">
      <nb-card-header>
        Cadastro de Bancos
        <div class="icons-right">
          <button nbButton status="info" status="info" ghost [size]="large" nbTooltip="Modo Grade"
            (click)="modoExibicao(0)">
            <nb-icon icon="grid" pack="eva" class="flip-icon"></nb-icon>
          </button>
          <button nbButton status="info" status="info" ghost [size]="large" nbTooltip="Modo Lista"
            (click)="modoExibicao(1)">
            <nb-icon icon="menu-2" pack="eva" class="flip-icon"></nb-icon>
          </button>
          <nb-search *ngIf="permissaoSelect" placeholder="Pesquisar" hint="" show="true" type="column-curtain"
            tag="pendencia"></nb-search>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="ativaBotaoPesquisa">
          <button nbButton shape="round" size="small" status="info" nbTooltip="Limpar Filtro da Pesquisa"
            (click)="buscaBancos('')">
            FILTRO: {{this.value}} &times;
          </button>
        </div><br>
        <div class="buttons-row">
          <button *ngIf="permissaoInsert" class="buttons-row" nbButton shape="round" size="small" status="primary"
            (click)="cadastrarNovoBanco(content)" nbTooltip="Cadastrar Usuário">
            <i class="fa fa-plus color"></i>
            <div class="espacamento">Criar</div>
          </button>
          <button *ngIf="!permissaoInsert" disabled class="buttons-row" nbButton shape="round" size="small"
            status="primary">
            <i class="fa fa-plus color"></i>
            <div class="espacamento" nbTooltip="Não existe permissão de cadastro para seu usuário.">Criar</div>
          </button>
          <ng-template #content let-data let-ref="dialogRef">
            <nb-card class="size-modal">
              <nb-card-header>
                <span>Cadastro de Bancos</span>
                <button type="button" class="close" aria-label="Close" (click)="ref.close()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </nb-card-header>
              <nb-card-body>
                <dados-cadastro-bancos></dados-cadastro-bancos>
              </nb-card-body>
            </nb-card>
          </ng-template>
        </div><br>

        <div *ngIf="dados.length == 0 && permissaoSelect">
          <nb-alert size="tiny" outline="primary">
            Sem dados para serem exibidos.
          </nb-alert> <br>
        </div>
        <div *ngIf="!permissaoSelect">
          <nb-alert size="tiny" outline="primary">
            Sem permissão para exibir dados.
          </nb-alert> <br>
        </div>
        <div *ngIf="dados.length != 0 && permissaoSelect">
          <div *ngIf="modoLista">
            <nb-list *ngIf="permissaoUpdate">
              <nb-list-item *ngFor="let banco of dados" (click)="editarBanco(contentedit, banco)"
                nbTooltip="Clique para editar o usuário.">
                {{ banco.nome }}<br>
                <div class="font-size-list">CÓDIGO: {{ banco.codigo }}</div>
              </nb-list-item>

              <ng-template #contentedit let-data let-ref="dialogRef">
                <nb-card class="size-modal">
                  <nb-card-header>
                    <span>Editar Cadastro de Bancos</span>
                    <button type="button" class="close" aria-label="Close" (click)="ref.close()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </nb-card-header>
                  <nb-card-body>
                    <dados-cadastro-bancos></dados-cadastro-bancos>
                  </nb-card-body>
                </nb-card>
              </ng-template>
            </nb-list>

            <nb-list *ngIf="!permissaoUpdate">
              <nb-list-item *ngFor="let banco of dados" nbTooltip="Sem permissão para editar o usuário.">
                {{ banco.nome }}<br>
                <div class="font-size-list">CÓDIGO: {{ banco.codigo }}</div>
              </nb-list-item>
            </nb-list>
          </div>

          <div class="row" *ngIf="modoGrade">
            <div class="col-xxxl-3 col-md-4" *ngFor="let banco of dados">
              <div *ngIf="permissaoUpdate">
                <status [title]="banco.nome" dados="CÓDIGO: {{banco.codigo}}" [type]="primary"
                  (click)="editarBanco(contentedit, banco)" nbTooltip="Editar Usuário">
                  <img class="container-image" src="assets/imgs/banco-icon.png">
                </status>
              </div>
              <div *ngIf="!permissaoUpdate">
                <status [title]="banco.nome" dados="CÓDIGO: {{banco.codigo}}" [type]="primary"
                  nbTooltip="Sem permissão para editar usuário.">
                  <img class="container-image" src="assets/imgs/banco-icon.png">
                </status>
              </div>

              <ng-template #contentedit let-data let-ref="dialogRef">
                <nb-card class="size-modal">
                  <nb-card-header>
                    <span>Editar Cadastro de Bancos</span>
                    <button type="button" class="close" aria-label="Close" (click)="ref.close()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </nb-card-header>
                  <nb-card-body>
                    <dados-cadastro-bancos></dados-cadastro-bancos>
                  </nb-card-body>
                </nb-card>
              </ng-template>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="novaTela">
      <nb-card-header>
        <button nbButton status="info" status="info" ghost [size]="large" nbTooltip="Voltar" (click)="voltar()">
          <nb-icon icon="arrow-back-outline" pack="eva" class="flip-icon"></nb-icon>
        </button>
        <span>Editar Cadastro de Bancos</span>
      </nb-card-header>
      <nb-card-body>
        <dados-cadastro-bancos></dados-cadastro-bancos>
      </nb-card-body>
    </nb-card>
  </div>
</div>