<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img style="width:100px;"
        src="assets/imgs/logo_empresa.png" /></a>
  </div>
  <!--<nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>-->
</div>

<!--<div class="header-container">
  {{user.nome_usuario}} | <a style="cursor: pointer;" (click)="sair()">SAIR</a>
</div>-->
<div class="header-container">
  <nb-action class="user-action" *nbIsGranted="['view', 'user']">
    <nb-user [nbContextMenu]="userMenu" [name]="user?.nome_usuario">
    </nb-user>
  </nb-action>
</div>