<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    aaa
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    aaa
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    aaa
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    aa
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    aa
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    ddd
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    dddd
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">

    ddd
  </div>
</div>
