/*::ng-deep {
  nb-layout-column {
    height: 80vw;
  }

  button + button {
    margin-left: 1rem;
  }

  .dialog-card {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  @media (min-width: 40rem) {
    .dialog-card {
      width: 38rem;
    }
  }
}*/

.list-card {
  nb-card-header {
    border-bottom: none;
  }

  nb-card-body {
    padding: 0;
  }
}

.icons-right {
  float: right;
}

.size-modal {
  margin: 1em auto 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
  width: 90%;
  height: 90%;
}

.buttons-row {
  margin-left: 0.1rem;
}

.font-size-list {
  font-size: 13px;
}

.container-image {
  max-width: 100px;
  max-height: 100px;
  width: 40px;
  height: 40px;
}

.espacamento {
  margin-left: 0.4rem;
}
