.buttons-row {
  margin-left: 1rem;
}

.espacamento {
  margin-left: 0.6rem;
}

.espacamento-top {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 485px;
  overflow: auto;
}

.anotacoes_height {
  height: auto;
}

.letra {
  font-size: 10px;
  margin: 0.1rem;
  vertical-align: middle;
}

.letra-with-background {
  font-size: 10px;
  margin: 0.1rem;
  vertical-align: middle;
}

.tamanho_linha {
  min-height: 11px;
  max-height: 15px;
}
