<div class="modal-body">
    <div class="container">
        <div class="infinite-cards row">
            <div class="col-md-4" *ngFor="let acao of listaAcoes">
                <nb-alert class="size-fonte" [size]="small" status="success"
                    (click)="carregarInput(acao.texto_complementar, acao.pk)">{{acao.nome_acao}}</nb-alert>
            </div>
        </div>
    </div><br><br>

    <Span>Informações adicionais: </Span><br><br>
    <div class="container">
        <div class="row">
            <textarea nbInput fullWidth placeholder="Texto Complementar da ação"
                [(ngModel)]="acao_escolhida"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Cancelar</button>
    <button type="button" ngbAutofocus class="btn btn-success" (click)="resolverInconsistencia()">Confirmar</button>
</div>